<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
      <script src="https://cdn.tailwindcss.com"></script>

    />
 

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>

    <!-- navigation-->
    <header class="row container">
        <a href="#" class="logo">
           <img class="mimg rms_img" style="color: rgb(184, 104, 19);" height="180" width="262" alt="Image result for cooking" id="emb6D5C7F99" src="data:image/jpeg;base64,/9j…BSxSpVxx1VBJ69KVKlQhI//2Q==" data-thhnrepbd="1" loading="lazy" data-bm="218">

        </a> 
        <div class="toggleMenue" oneclick=""toggleMenu();></div>
       <nav class="navigation row">
         <ul class="primary-link row">
           <li><a href="#">Home</a>"</li>
           <li><a href="#">recipes</a>"</li>
           <li><a href="#">Blog</a>"</li>
           <li><a href="#">Contact</a>"</li>
           <li><a href="#">About us</a>"</li>
         </ul>
         <ul class="primary-link row">
          <li><a href="#">
           <img src="https://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19759.png" alt="Facebook Logos PNG images free download" class=" nofocus" tabindex="0" aria-label="Facebook Logos PNG images free download" role="button"><div class="overlayContainer" aria-hidden="false" style="width: 535.326px; height: 480px;"></div>
       </li>
         <ul>
       </nav>
       </header>
       <!--End navigation-->
       <!-- hero section-->
        <section class="hero">
           <div class="container row">
              <div class="hero-content">
               <div class="content">
                   <div class="recipe row"><img src=".imgs/rcipe.png" alt="">Hot recipes</div>
                   <h1>Spicy chicken wings.</h1>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem beatae suscipit odit dolor, eligendi a sit quibusdam veritatis expedita temporibus tenetur?</p>
                   <div class="time row">
                       <div class="row">
                        <!--Timer png goes here-->   
                       </div>
                       <p>30 minutes</p>
                   </div>
                   <div class="row">
                       <!--Fork png-->
                   </div>
               </div>
               <div class="profile-btn row">
                   <div class="profile row">
                       <div class="p-img row">img src="<!--png here--></0div>
                           <div class="column">
                               <h6>Abigail Marget</h6>
                               <p>17 april 2015</p>
                           </div>
                   </div>
                   <div class="hero-btn row">
                       View Recipes
                       <!--insert page png to view recipes-->

                   </div>
               </div>
              </div>
           </div>
        </section>
       <!-- End hero section-->
        <!--Category-->
        <section class="category container">
           <div class="category-title row">
               <h2>categories</h2>
               <a href="#" class="category-btn">View all</a>
           </div>
           <div class="category-cards cloumn">
               <a href="#" class="cat-card">
               <!--instert png here-->
               <h6>Breafast</h6>
               </a>
               <a href="#" class="cat-card">
                   <!--instert png here-->
                   <h6>Vegan</h6>
               </a>
               <a href="#" class="cat-card">
                   <!--instert png here-->
                   <h6>Lunch</h6>
                   </a>
               <a href="#" class="cat-card">
                   <!--instert png here-->
                   <h6>Dinner</h6>
                   </a>
               <a href="#" class="cat-card">
                   <!--instert png here-->
                   <h6>Seafood</h6>
                   </a>
               <a href="#" class="cat-card">
                   <!--instert png here-->
                    <h6>Dessert</h6>
                     </a>
       
           </div>
        </section>
        <!--End Catergory-->

        <!--Recipes-->
        <Section class="recipes container">
           <div class="section-title">
               <h2>Simplely deliciouse recipes</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae porro, doloremque totam animi assumenda nesciunt veniam sunt amet suscipit odio saepe? Praesentium dolores cum enim nesciunt asperiores, illum distinctio ad.</p>
           </div>
           <div class="recipes-cards column">
               <a href="#" class="card">
               <!--insert png-->
               <h5>Juicy meats</h5>
               <div class="time row">
                   <div class="row">
                    <!--Timer png goes here-->   
                   </div>
                   <p>30 minutes</p>
               </div>
               <div class="row">
                   <!--Fork png-->
               </div>
           </div>
           <div class="like row active">
               <!--insert heart img-->
           </div>
               </a>
               <a href="#" class="card">
                   <!--insert png-->
                   <h5>Juicy meats</h5>
                   <div class="time row">
                       <div class="row">
                        <!--Timer png goes here-->   
                       </div>
                       <p>30 minutes</p>
                   </div>
                   <div class="row">
                       <!--Fork png-->
                   </div>
               </div>
               <div class="like row active">
                   <!--insert heart img-->
               </div>
                   </a>
                   <a href="#" class="card">
                       <!--insert png-->
                       <h5>Juicy meats</h5>
                       <div class="time row">
                           <div class="row">
                            <!--Timer png goes here-->   
                           </div>
                           <p>30 minutes</p>
                       </div>
                       <div class="row">
                           <!--Fork png-->
                       </div>
                   </div>
                   <div class="like row active">
                       <!--insert heart img-->
                   </div>
                       </a>
                       <a href="#" class="card">
                           <!--insert png-->
                           <h5>Juicy meats</h5>
                           <div class="time row">
                               <div class="row">
                                <!--Timer png goes here-->   
                               </div>
                               <p>30 minutes</p>
                           </div>
                           <div class="row">
                               <!--Fork png-->
                           </div>
                       </div>
                       <div class="like row active">
                           <!--insert heart img-->
                       </div>
                           </a>
           </div>
        </Section> 
        <!--End Recipes-->

        <!--Learn-->
        <section class="learn row container">
           <div class="learn-container">
               <div>
                   <h2>Anyone can cook</h2>
                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti itaque at culpa iure tempore dolores, ex deleniti voluptatum nulla, necessitatibus accusamus libero ullam vel voluptatibus natus dignissimos sit? Ipsum, in?</p>
                   <a href="#" class="learn-btn">learn more</a>
               </div>
           </div>
           <div class="learn-img row"><!--insert img--> </div>
        </section>
        <!--End learn-->
      
        <!--try-->
        <section class="try container">
           <div class="try-content row">
               <h2>Recommended recipe</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laboriosam cum modi aperiam, expedita, quod ea perferendis enim neque molestiae possimus ad distinctio laborum facilis, pariatur officiis eius magnam ut!p></p>

           </div>
          <div class="try-cards cloumn">
           <h5>Juicy meats</h5>
               <div class="time row">
                   <div class="row">
                    <!--Timer png goes here-->   
                   </div>
                   <p>30 minutes</p>
               </div>
               <div class="row">
                   <!--Fork png-->
               </div>
           </div>
           <div class="like row active">
               <!--insert heart img-->
           </div>
               </a>
               <h5>Fries</h5>
               <div class="time row">
                   <div class="row">
                    <!--Timer png goes here-->   
                   </div>
                   <p>30 minutes</p>
               </div>
               <div class="row">
                   <!--Fork png-->
               </div>
           </div>
           <div class="like row active">
               <!--insert heart img-->
           </div>
               </a>
          </div>
       </section>
        <!--end try-->
        <!--Subcribe-->
        <section class="subscribe row container">
          <div class="section-title">
           <h2> Subscribe for more recipes </h2>
           <p>Subscribe to recieve an email when ever there's a new recipe</p>
          </div>
          <div class="subscribe-input row">
           <div class="row">
               <input type="email" name="" id="" placeholder="your email..">
               <a href="# class="sub-btn">subscribe</a>
           </div>
          </div>
        </section>
        <!--End subscribe-->

        <!--Footer-->
        <footer class="container">
           <div class="footer-content row">
              <div>
               <a href="#" class="logo">
                <!---logo-->
               </a>
               <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
              </div>
               <ul class="row">
                   <li><a href="#">Home</a>"</li>
                   <li><a href="#">recipes</a>"</li>
                   <li><a href="#">Blog</a>"</li>
                   <li><a href="#">Contact</a>"</li>
                   <li><a href="#">About us</a>"</li>
                 </ul>
           </div>
           <hr>
           <div class="footer-links row">
            <p class="copy-rights">&copy; 2025, All rights reserved</p>   
           </div>
        </footer>
        <!--footer-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
  fetch("/delete-note", {
    method: "POST",
    body: JSON.stringify({ noteId: noteId }),
  }).then((_res) => {
    window.location.href = "/";
  });
  }
</script>
{% endblock %}
  </body>
</html>